@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-fira-code: 'Fira Code', monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-fira-code);
}

@media (prefers-color-scheme: dark) {
  :root {
    scroll-behavior: smooth;
    --background: rgb(24, 23, 23);
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-fira-code);
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% + 20px));
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 5s linear infinite;
}
